<a href="https://colab.research.google.com/github/LucasSVB/aulas-program/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
tp_frutas = ('maçã', 'banana', 'laranja', 'goiaba')
tp_frutas

('maçã', 'banana', 'laranja', 'goiaba')

In [2]:
lst_frutas =  list(tp_frutas)
type(lst_frutas)
lst_frutas

['maçã', 'banana', 'laranja', 'goiaba']

In [4]:
tp_meses = ('jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set', 'out', 'nov', 'dez')
tp_meses[3:6]

('abr', 'mai', 'jun')

In [5]:
uf_cod = [('PE', 81), ('RJ', 21), ('SP', 11),('PB', 83)]

sorted(uf_cod, key = lambda x : x[1])

[('SP', 11), ('RJ', 21), ('PE', 81), ('PB', 83)]

In [14]:
nome_nasc = [('Lucas', 2003), ('Maria', 1998), ('Alice', 2000)]
sorted(nome_nasc, key = lambda x : x[1], reverse = True)

[('Lucas', 2003), ('Alice', 2000), ('Maria', 1998)]

In [16]:
#Desempacotamento de Valores:
def nome_idade_uf():
  nome = "Lucas"
  idade = 20
  uf = 'SP'
  return nome, idade, uf

name, age, uf = nome_idade_uf()

print(name, age, uf)

Lucas 20 SP

In [20]:
#Mapeamento de Valores:
alunos = ('Lucas', 'Mateus', 'Renan', 'Roberto', 'Laura')
notas = (8.6,3,7.2,2.9,6,)

Av1 = tuple(zip(alunos, notas))

Av1

(('Lucas', 8.6), ('Mateus', 3), ('Renan', 7.2), ('Roberto', 2.9), ('Laura', 6))

In [33]:
def concatenaTupla(tp1, tp2):
 return tp1 + tp2

a = (2, 4, 5)
b = (6, 8, 12)
concatenaTupla(a, b)

(2, 4, 5, 6, 8, 12)

In [41]:
def formatada(tupla):
  nome, logradouro, num, bairro = tupla
  return f'Nome:{nome}, residente a {logradouro}, {num}, {bairro}.'

dadosCliente = ('Manoelina', 'Rua da Couves', '42', 'Torre')
print(formatada(dadosCliente))

Nome:Manoelina, residente a Rua da Couves, 42, Torre.